body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn, .skip-back-btn, .skip-forward-btn {
    text-align: center;
}

.video-controls {
    background-color: rgba(32, 32, 32, .5);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0fr auto 0fr 0fr;
    grid-column-gap: 2em;
    grid-template-areas:
        "progressBar progressBar progressBar progressBar"
        "play volumeBar skipForward skipBack";
    opacity: 0;
    pointer-events: none;
    transition: 
        transform .5s linear,
        opacity .7s linear;
}

.video-container {
    width: 80%;
}

.video-container video {
    max-width: 100%;
}

.video-progress-bar {
    grid-area: progressBar;
}

.volume-bar {
    grid-area: volumeBar;
}
.play-btn {
    grid-area: play;
    width: 35px;
}

.skip-back-btn {
    grid-area: skipBack;
}

.skip-forward-btn {
    grid-area: skipForward;
}

.showVideoControls {
    pointer-events: initial;
    transform: translateY(-100%);
    opacity: 1;
}